<main role="main">
  
  <section class="panel important">
    <h2>Nhân Viên Bảo Hành</h2>
    <ul>
      <li>Quản lý thông tin PAGE</li>
      <li><a href="/"> Đi tới trang chủ</a></li>
    </ul>
  </section>
  

</main>