<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <nav><a href="#" class="focus">Log In</a></nav>

  <form action="/admin/login/done" method="post">

    <h2>Admin Login</h2>

    <input type="text" name="username" class="text-field" placeholder="Username" />
    <input type="password" name="password" class="text-field" placeholder="Password" />

    <input type="submit" class="button" value="Log In" />

  </form>

    
</body>
</html>