<nav role='navigation'>
  <ul class="main">
    <li class="dashboard"><a href="/warranty-staff/warranty-page">Dashboard</a></li>
    <li class="comments"><a href="/warranty-staff/warranty">Quản Lý Bảo Hành</a></li>    
  </ul>
</nav>