<nav role='navigation'>
  <ul class="main">
    <li class="dashboard"><a href="/seller/seller-page">Dashboard</a></li>
    <li class="comments"><a href="/seller/order-manage">Quản Lý Đơn Hàng</a></li>    
  </ul>
</nav>