<nav role='navigation'>
  <ul class="main">
    <li class="dashboard"><a href="/admin/admin-page">Dashboard</a></li>
    <li class="users"><a href="/admin/user-controll">Quản lý User</a></li>
    <li class="users"><a href="/admin/product-manage">Quản lý Laptop</a></li>
    <li class="comments"><a href="/admin/order-manage">Quản Lý Đơn Hàng</a></li>
    <li class="comments"><a href="/admin/warranty-manage">Quản Lý các yêu cầu bảo hành</a></li>
  </ul>
</nav>